name: Markdown Lint

on:
  push:
    branches: [ main, develop ]
    paths: [ '**/*.md' ]
  pull_request:
    branches: [ main, develop ]
    paths: [ '**/*.md' ]

jobs:
  markdownlint:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Run Markdown Lint
      uses: docker://avtodev/markdown-lint:v1
      with:
        args: '**/*.md'