/* Banners / banners_4 / banners_3 */
.banners_4 { margin: 40px 0; }
.banners_4 .container { display:flex; justify-content:space-between; }
.banners_4 .container .box { width: 24%; background: url(../img/bg_banner3.jpg); background-size: cover; background-position:center; border-radius:5px; display:flex; align-items:center; gap:15px; padding:12px 10px; position:relative; }
.banners_4 .container .box img { width:100px; transition: 0.3s; }
.banners_4 .container .box:hover img { transform: scale(1.05); }
.banners_4 .container .box h5 { font-size: 16px; }
.banners_4 .container .box .sale { display:flex; align-items:center; gap:5px; margin:7px 0; }
.banners_4 .container .box .sale span { font-size: 25px; font-weight: bold; }
.banners_4 .container .box h6 { font-size: 14px; font-weight: bold; }
.banners_4 .container .box .link_btn { position:absolute; width:100%; height:100%; background: transparent; }

.banners { margin: 50px 0; }
.banners .banners_boxs { display:flex; justify-content:space-between; }
.banners .banners_boxs .box { width:49%; }
.banners .banners_boxs.banner_3_img .box { width:32%; }
